# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.yarn

# production
/build

# dotenv environment variables file
.env
.env.local
.env.test
.env.test.local
# .env.production
.env.production.local
# .env.development
.env.development.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
logs
/*.log

# IDE Configuration
.vscode

# misc
.DS_Store
todo.md
