.App {
  text-align: center;
}

.App-logo-container {
  width: 166px;
  height: 166px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 3px 5px 12px 1px black;
}

.App-logo {
  width: 102%;
  height: 102%;
  pointer-events: none;
  margin: -2px -2px -2px -2px;
  filter: sepia(19) hue-rotate(155deg) saturate(17.5) invert(1);
}

.App-header {
  background-color: #171A21;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}
